{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ author.getTitle() }}</h1>
            <ul class="page-depth">
                <li><a href="{{ path('index') }}">Главная</a></li>
                <li><a href="{{ path('about-author', { slug: author.getSlug() }) }}">{{ author.getTitle() }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->
    <!-- teachers-section
			================================================== -->
    <section class="teachers-section">
        <div class="container">
            <div class="teachers-box">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher6.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Michael Arnet</h2>
                                    <span>Photographer</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher4.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Leslie Williams</h2>
                                    <span>Math</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher7.jpg" alt="">
                                <div class="hover-post">
                                    <h2>John Maddix</h2>
                                    <span>Chemical Engineering</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher5.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Linda Castello</h2>
                                    <span>Teacher Training</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher1.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Dinna Joakimsen</h2>
                                    <span>Computer Science</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher3.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Leon Redding</h2>
                                    <span>Web Developer</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher2.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Duha Sampra</h2>
                                    <span>Physics</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="teacher-post">
                            <a href="single-teacher.html">
                                <img src="upload/teachers/teacher8.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Olivia Barham</h2>
                                    <span>Communication</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End teachers section -->
{% endblock %}