{% block events %}
<section class="events-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="title-section">
                    <div class="left-part">
                        <h1>События</h1>
                    </div>
                </div>

                <div class="events-box">

                    <div class="events-post">
                        <div class="event-inner-content">
                            <div class="top-part">
                                <div class="date-holder">
                                    <div class="date">
                                        <span class="date-day">22</span>
                                        <span class="date-month">Oct</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-meta">
												<span class="event-meta-piece start-time">
													<i class="material-icons">access_time</i> 6:00 am - 12:00 pm
												</span>
                                        <span class="event-meta-piece location">
													<i class="material-icons">location_on</i> New York , US of America
												</span>
                                    </div>
                                    <h2 class="title"><a href="#">Summer High School Journalism Camp Registration
                                            Form</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="events-post">
                        <div class="event-inner-content">
                            <div class="top-part">
                                <div class="date-holder">
                                    <div class="date">
                                        <span class="date-day">14</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-meta">
												<span class="event-meta-piece start-time">
													<i class="material-icons">access_time</i> 2:00 am - 5:00 am
												</span>
                                        <span class="event-meta-piece location">
													<i class="material-icons">location_on</i> New York , US of America
												</span>
                                    </div>
                                    <h2 class="title"><a href="#">Board of Regents Campus Live and Community
                                            Forum</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="events-post">
                        <div class="event-inner-content">
                            <div class="top-part">
                                <div class="date-holder">
                                    <div class="date">
                                        <span class="date-day">17</span>
                                        <span class="date-month">Dec</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="event-meta">
												<span class="event-meta-piece start-time">
													<i class="material-icons">access_time</i> 2:00 am - 8:00 am
												</span>
                                        <span class="event-meta-piece location">
													<i class="material-icons">location_on</i> New York , US of America
												</span>
                                    </div>
                                    <h2 class="title"><a href="#">May Professional Development Diversity and
                                            Inclusion Series</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="title-section">
                    <div class="left-part">
                        <span>Watch Video</span>
                        <h1>Learn Anywhere</h1>
                    </div>
                </div>

                <div class="video-box">
                    <div class="video-post">
                        <img src="upload/video/video-poster-1.jpg" alt="">
                        <div class="hover-post">
                            <h2>Marketing, Media and Advertising</h2>
                            <p>About Studioare</p>
                        </div>
                        <a class="video-link iframe" href="https://vimeo.com/97447862"><span><i
                                        class="fa fa-play"></i></span></a>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="video-post small-post">
                                <img src="upload/video/video-poster-2.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Limitless learning</h2>
                                </div>
                                <a class="video-link iframe" href="https://vimeo.com/97447862"><span><i
                                                class="fa fa-play"></i></span></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="video-post small-post">
                                <img src="upload/video/video-poster-3.jpg" alt="">
                                <div class="hover-post">
                                    <h2>Learn by Doing</h2>
                                </div>
                                <a class="video-link iframe" href="https://vimeo.com/97447862"><span><i
                                                class="fa fa-play"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}