{% extends 'base.html.twig' %}
{% block body %}
    <h1>Upload a event</h1>
    <p><b>{{ message }}</b></p>
    {{ form(form) }}
    <script src="{{ asset('js/event-upload-change.js') }}"></script>

    {% if path %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                let filename = '{{ path }}';
                window.parent.document.getElementById('Event_image').setAttribute('value', filename);
                window.parent.document.getElementById('file_label').innerHTML = filename;
                window.parent.document.getElementById('image_trash').style.display = 'block'
                let inputGroup = window.parent.document.getElementById('Event_image').closest('.input-group');
                let image = window.parent.document.getElementById('event_image');
                if (image == undefined) {
                    let img = window.parent.document.createElement('img');
                    img.setAttribute('src', `/uploads/event/${filename}`);
                    img.setAttribute('id', 'event_image');
                    inputGroup.after(img);
                } else {
                    image.setAttribute('src', `/uploads/event/${filename}`);
                }
            });
        </script>
    {% endif %}
{% endblock %}

