{% extends 'frontend/page.html.twig' %}
{% block breadcrumbs %}
    <ul class="page-depth">
        <li><a href="{{ path('index') }}">Главная</a></li>
        <li><a href="{{ path('category', { slug: category.getSlug() }) }}">{{ category.getTitle() }}</a></li>
    </ul>
{% endblock %}