{% extends 'frontend/page.html.twig' %}
{% block breadcrumbs %}
    <ul class="page-depth">
        <li><a href="index.html">Главная</a></li>
        <li><a href="courses.html">{{ category.getTitle() }}</a></li>
    </ul>
{% endblock %}