{% block categories %}
<section class="popular-courses-section">
    <div class="container">
        <div class="title-section">
            <div class="left-part">
                <span>Education</span>
                <h1>Popular Courses</h1>
            </div>
            <div class="right-part">
                <a class="button-one" href="#">View All Courses</a>
            </div>
        </div>
        <div class="popular-courses-box">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="course-post">
                        <div class="course-thumbnail-holder">
                            <a href="single-course.html">
                                <img src="upload/courses/1.jpg" alt="">
                            </a>
                        </div>
                        <div class="course-content-holder">
                            <div class="course-content-main">
                                <h2 class="course-title">
                                    <a href="single-course.html">Introduction Web Design with HTML</a>
                                </h2>
                                <div class="course-rating-teacher">
                                    <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
												<span style="width:100%">
													<span class="rating">5.00</span>
													<span class="votes-number">1 Votes</span>
												</span>
                                    </div>
                                    <a href="#" class="course-loop-teacher">Duha Samra</a>
                                </div>
                            </div>
                            <div class="course-content-bottom">
                                <div class="course-students">
                                    <i class="material-icons">group</i>
                                    <span>64</span>
                                </div>
                                <div class="course-price">
                                    <span>£244</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="course-post">
                        <div class="course-thumbnail-holder">
                            <a href="single-course.html">
                                <img src="upload/courses/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="course-content-holder">
                            <div class="course-content-main">
                                <h2 class="course-title">
                                    <a href="single-course.html">Special Education Needs Teaching</a>
                                </h2>
                                <div class="course-rating-teacher">
                                    <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
												<span style="width:100%">
													<span class="rating">3.50</span>
													<span class="votes-number">2 Votes</span>
												</span>
                                    </div>
                                    <a href="#" class="course-loop-teacher">Leon Redding</a>
                                </div>
                            </div>
                            <div class="course-content-bottom">
                                <div class="course-students">
                                    <i class="material-icons">group</i>
                                    <span>134</span>
                                </div>
                                <div class="course-price">
                                    <span>£74.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="course-post">
                        <div class="course-thumbnail-holder">
                            <a href="single-course.html">
                                <img src="upload/courses/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="course-content-holder">
                            <div class="course-content-main">
                                <h2 class="course-title">
                                    <a href="single-course.html">Environmental Science BTEC Course</a>
                                </h2>
                                <div class="course-rating-teacher">
                                    <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
												<span style="width:100%">
													<span class="rating">No Votes</span>
												</span>
                                    </div>
                                    <a href="#" class="course-loop-teacher">Linda Castello</a>
                                </div>
                            </div>
                            <div class="course-content-bottom">
                                <div class="course-students">
                                    <i class="material-icons">group</i>
                                    <span>0</span>
                                </div>
                                <div class="course-price">
                                    <span>£18.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="course-post">
                        <div class="course-thumbnail-holder">
                            <a href="single-course.html">
                                <img src="upload/courses/4.jpg" alt="">
                            </a>
                        </div>
                        <div class="course-content-holder">
                            <div class="course-content-main">
                                <h2 class="course-title">
                                    <a href="single-course.html">Distance Learning MBA Management</a>
                                </h2>
                                <div class="course-rating-teacher">
                                    <div class="star-rating has-ratings" title="Rated 5.00 out of 5">
												<span style="width:100%">
													<span class="rating">4.50</span>
													<span class="votes-number">2 Votes</span>
												</span>
                                    </div>
                                    <a href="#" class="course-loop-teacher">Michael Arnett</a>
                                </div>
                            </div>
                            <div class="course-content-bottom">
                                <div class="course-students">
                                    <i class="material-icons">group</i>
                                    <span>263</span>
                                </div>
                                <div class="course-price">
                                    <span>£29.99</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}