{% extends 'base.html.twig' %}
{% block body %}
    <h1>Upload a product</h1>
    <p><b>{{ message }}</b></p>
    {{ form(form) }}
    <script src="{{ asset('js/upload-change.js') }}"></script>

    {% if path %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                window.parent.postMessage('{{ path }}', "*");
            })
        </script>
    {% endif %}
{% endblock %}

