{% extends 'base.html.twig' %}
{% block body %}
    <h1>Upload a product</h1>
    <p><b>{{ message }}</b></p>
    {{ form(form) }}
    <script src="{{ asset('js/upload-change.js') }}"></script>

    {% if path %}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                alert('123');
                let filename = '{{ path }}';
                window.parent.document.getElementById('Product_image').setAttribute('value', filename);
                window.parent.document.getElementById('file_label').innerHTML = filename;
                window.parent.document.getElementById('image_trash').style.display = 'block'
                let inputGroup = window.parent.document.getElementById('Product_image').closest('.input-group');
                let productImage = window.parent.document.getElementById('product_image');
                if (productImage == undefined) {
                    let img = window.parent.document.createElement('img');
                    img.setAttribute('src', `/uploads/files/${filename}`);
                    img.setAttribute('id', 'product_image');
                    inputGroup.after(img);
                } else {
                    productImage.setAttribute('src', `/uploads/files/${filename}`);
                }
            });
        </script>
    {% endif %}
{% endblock %}

