{% extends 'frontend/order.html.twig' %}
{% block sidebar_content %}
    <div class="widget cart-widget">
        <h2>Итог</h2>
        <table>
            <tbody>
            <tr class="order-total">
                <th>Итог</th>
                <td>{{ cost }}</td>
            </tr>
            </tbody>
        </table>
        <a href="{{ path('checkout') }}" class="checkout-button">Оформить заказ</a>
    </div>
{% endblock %}