{% extends 'frontend/template.html.twig' %}
{% block cart_section_header %}
    <!-- cart-section
            ================================================== -->
<section class="cart-section">
    {% endblock %}
    {% block cart_section_footer %}
</section>
<!-- End cart section -->
{% endblock %}
{% block sidebar_content %}
    <div class="widget cart-widget">
        <h2>Итог</h2>
        <table>
            <tbody>
            <tr class="order-total">
                <th>Итог</th>
                <td>{{ cost }}</td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="checkout-button" data-toggle="modal" data-target="#orderModal">Оформить заказ</a>
    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true" style="z-index: 1000000">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    123123123123123123
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}