{% extends 'frontend/template.html.twig' %}
{% block cart_section_header %}
    <!-- cart-section
            ================================================== -->
<section class="cart-section">
    {% endblock %}
    {% block cart_section_footer %}
</section>
<!-- End cart section -->
{% endblock %}
{% block sidebar_content %}
    <div class="widget cart-widget">
        <h2>Итог</h2>
        <table>
            <tbody>
            <tr class="order-total">
                <th>Итог</th>
                <td>{{ cost }}</td>
            </tr>
            </tbody>
        </table>
        <a href="checkout.html" class="checkout-button">Оформить заказ</a>
    </div>
{% endblock %}