{% block template_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            {% block page_content %}
                2222222222222222222222222222
            {% endblock %}
        </div>

        <div class="col-lg-4">
            <div class="sidebar">
                {% block sidebar_content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}