{% extends 'frontend/template.html.twig' %}
{% block cart_section_header %}
    <!-- cart-section
            ================================================== -->
<section class="cart-section">
    {% endblock %}
    {% block cart_section_footer %}
</section>
<!-- End cart section -->
{% endblock %}