{% extends 'frontend/order.html.twig' %}
{% block sidebar_content %}
    <div class="widget cart-widget">
        <h2>Order</h2>
        <table>
            <tbody>
            <tr>
                <td>Course</td>
                <td>Price</td>
            </tr>
            {% for item in basketItems %}
                <tr>
                    <td class="name-pro">
                        {{ item.getProduct().getTitle() }}
                    </td>
                    <td>£{{ item.getProduct().getPrice()|number_format(0) }}</td>
                </tr>
            {% endfor %}
            <tr class="order-total">
                <th>Total</th>
                <td class="total-price">{{ cost }}</td>
            </tr>
            </tbody>
        </table>
        <a href="#" class="checkout-button" id="order-button">Apply for</a>
    </div>
{% endblock %}