{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <!-- page-banner-section
			================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ title }}</h1>
            {% block breadcrumbs %}{% endblock %}
        </div>
    </section>
    <!-- End page-banner-section -->
    {% block template_content %}
    {% endblock %}
{% endblock %}