{% extends 'frontend/basket.html.twig' %}
{% block title %}Корзина{% endblock %}
{% block breadcrumbs %}
    <ul class="page-depth">
        <li><a href="{{ path('index') }}">Главная</a></li>
        <li><a href="{{ path('basket') }}">Корзина</a></li>
    </ul>
{% endblock %}
{% block page_content %}
    <div class="cart-box" id="cart-box">
        {{ block("items", "basket/items.html.twig") }}
    </div>
{% endblock %}
{% block pageJavascripts %}
    <script>
        $(function () {

        });
    </script>
{% endblock %}
